@model PresentationLayer.Models.CuentaViewModel

@{
    ViewBag.Title = "ErrorLogin";
}
<form class="form-login">
    <div class="form-group">
        <h2>Error Login</h2>

        <span>@Model.ErrorLogin</span>

        <br />
        <a href="/cuenta">Volver</a>
        </div>
</form>