@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
@font-face {
	font-family: 'icomoon';
	src:url('icomoon/fonts/icomoon.eot?-2d425p');
	src:url('icomoon/fonts/icomoon.eot?#iefix-2d425p') format('embedded-opentype'),
		url('icomoon/fonts/icomoon.ttf?-2d425p') format('truetype'),
		url('icomoon/fonts/icomoon.woff?-2d425p') format('woff'),
		url('icomoon/fonts/icomoon.svg?-2d425p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="m-"], [class*=" m-"] {
	font-family: 'icomoon';
	speak: none;
    font-size: 26px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    background: black url(images/fondo.jpg);
    background-repeat: no-repeat;
    background-position:inherit;
    font-family: 'Ubuntu';
    color: #2e2e2e;
}
.form-login {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;  
    margin-left: -150px;  
}
h1 {
    margin-bottom: 50px;
}
input {
    padding: 10px;
}
header {
    background: rgba(255,255,255,0.7);
    border-top: 3px solid #3291d1;
    border-bottom: 5px solid #3291d1;
    height: 250px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    width: 100%;
}
    header #perfil {
        display: inline-block;
        height: 100%;
        position: absolute;
        width: 15%;
    }
    header #perfil table{
        margin: auto;
        width: 90%;
    }
        header #perfil table tr {
            
            margin: 2px;
        }
            header #perfil table tr td{
                font-size: 12px;
                padding: 2px;
                border-top: 1px solid black;
                vertical-align: bottom;
            }
    header #perfil #avatar {
        height: 150px;
        margin: auto;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 150px;
    }
    header #perfil #avatar img {
        width: 100%;
    }
#apuesta {
    background: rgba(255,255,255,0.7);
    height: 100%;
    position: absolute;
    right: 0px;
    padding: 2px;
    width: 65%;
}
.nav-comprar {
    left: 18%;
    height: 100%;
    position: absolute;
    width: 15%;
}
    .nav-comprar table {
        height: 100%;
        position: absolute;
        width: 90%;
    }
#new-user {
    background: rgba(240,240,240,0.7);
    display: none;
    height:100%;
    width:100%;
}
    #new-user form {
        background: rgb(255, 255, 255);    
        height: 500px;
        margin-top: -225px;
    }
#tablero {
    background: rgba(255,255,255,0.7);
    background-size: 100%;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 80%;
}
.mini-avatar {
    width: 30px;
}
#btn-jugar {
    color: #fff;
    font-size: 28px;
    background: #3291d1;
    border-radius: 15px;
    margin: 5px;
    height: 50px;
    width: 100px;
}
.btn {
    margin-right: 50px;
}
.m-dinero:before {
	content: "\e600 ";
}
.m-victorias:before {
	content: "\e601 ";
}
.m-partidas:before {
	content: "\e602 ";
}
.m-fichas:before {
    content: "\e608";
}
#elegido {
    display: none;
}
#apuestas-realizadas {
    margin: 2%;
    margin-top: -30px;
    width: 250px;
}
#table-apuestas {
    width: 100%;
    height: 100px;
}
#table-apuestas tr td {
    height: 25px;
    width: 100px;
}
    #table-apuestas #apuestas td {
        height: 100px;
        width: 150px;
    }
#td-modalidad {
    height: 50px;
}
input[type="number"] {
    border-radius: 5px;
    border: 1px solid white;
    padding: 0px;
    text-align: center;
    height: 50px;
    width: 65px;
}