@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
body {
    background: #808080;
    font-family: 'Ubuntu';
}
.form-login {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;  
    margin-left: -150px;  
}
h1 {
    margin-bottom: 50px;
}
input {
    padding: 10px;
}
.nav-comprar {
    background: #1d5712;
    position: absolute;
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    padding: 3px;
}
.nav-comprar input {
    padding: 5px;
    width: 90%;   
}
#tablero {
    background: #23af69;
    height: 500px;
    position: absolute;
    left: 300px;
    top: 100px;
    width: 900px;
}
#new-user {
    background: rgba(240,240,240,0.7);
    display: none;
    height:100%;
    position:absolute;
    top: 0px;
    left: 0px;
    width:100%;
}
    #new-user form {
        background: rgb(255, 255, 255);    
        height: 450px;
        margin-top: -225px;
    }