@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
body {
    background: #808080;
    font-family: 'Ubuntu';
}
.form-login {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    padding: 20px;
    width: 25%;
}
h1 {
    margin-bottom: 50px;
}
input {
    padding: 10px;
}
.nav-comprar {
    background: #1d5712;
    position: absolute;
    height: 100%;
    width: 150px;
    left: 0px;
    top: 0px;
    padding: 3px;
}
.nav-comprar input {
    padding: 5px;
    width: 90%;   
}
#tablero {
    background: #23af69;
    height: 500px;
    position: absolute;
    left: 300px;
    top: 100px;
    width: 900px;
}