#rouletteTable {
    background: url(images/pano.png);
    background-repeat: no-repeat;
    background-size: 800px;
	height: 380px;
	padding: 10px;
    position: relative;
    margin: auto;
	width: 800px;
}
#rouletteWheel {
	float: left;
    top: 60px;
    left: 10px;
	height: 300px;
	position: absolute;
	width: 300px;
    z-index: auto;
}
#ballWheel {
    position: absolute;
    right: 250px;
    top: 400px;
 	width: auto;
}
.clearfix {
	clear: both;
}
#controls {
	position: absolute;
    bottom: 0px;
    right: 0px;
}
    #controls a {
        color: white;
    }
#notes {
	float: right;
}
#notes ul {
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
	color: #000090;
	font-size: 70%;
	list-style: none;
	padding: 10px;
}
#notes li {
	text-align: left;
}
#notes li .date {
	font-style: italic;
}
#notes li .description {
	
}
#notes:after {
	clear: both;
}