#rouletteTable {
    background: url(images/pano.png);
    background-repeat: no-repeat;
	height: 442px;
	padding: 10px;
    position: relative;
	width: 100%;
}
#rouletteWheel {
	float: left;
    top: 90px;
    left: 55px;
	height: 300px;
	position: absolute;
	width: 300px;
}
#ballWheel {
	border: 2px solid #fff;
    position: absolute;
    right: 30px;
    top: 70px;
 	width: auto;
}
.clearfix {
	clear: both;
}
#controls {
	position: absolute;
    bottom: 0px;
    right: 0px;
}
    #controls a {
        color: white;
    }
#notes {
	float: right;
}
#notes ul {
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
	color: #000090;
	font-size: 70%;
	list-style: none;
	padding: 10px;
}
#notes li {
	text-align: left;
}
#notes li .date {
	font-style: italic;
}
#notes li .description {
	
}
#notes:after {
	clear: both;
}