@{
    ViewBag.Title = "Apuesta";
}

<div id="apuesta">
<form action="/" method="post">
    <select>
        <option value="Pleno">Pleno</option>
        <option value="Semi">SemiPleno</option>
    </select>

</form>
</div>