@{
    Layout = null;
    String saludo = "Hola Mundo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Charlieeee @saludo</h1>
        @Html.TextBox("id")
    </div>
</body>
</html>
